.container {
    display: grid;
    grid-template-columns: 20% 40% 50%;

}

#rectangle  {
    width: 85%;
    height: 10cm;
    border:10px solid #413c3c;

}

#rectangle-pink {
    width:auto;
    height: 50%;
    background-color:#f1453d ;
    border-right:10px solid #413c3c;
    border-bottom: 10px solid #413c3c ;

}

#rectangle-white{
    width:auto;
    height: 48%;
    background-color:#ffff ;
    border-right:10px solid #413c3c ;

}

#rectangle-blue {
    width:auto;
    height: 30%;
    background-color:#2cc5cf;
    border-bottom:10px solid #413c3c;
    border-right:10px solid #413c3c;
    border-right:10px solid #413c3c ;
}

#rectangle-nude {
    width:60%;
    height:40%;
    background-color:#d6b26a;
    border-right:10px solid #413c3c;
}

#rectangle-pink2 {
    width:auto;
    height: 25%;
    background-color:#f1453d;
    border-right:10px solid #413c3c;
    border-top:10px solid #413c3c;
}

#rectangle-nude3 {
    width:80.5%;
    height:30%;
    background-color:#d6b26a;
    border-bottom:10px solid #413c3c;

}

#rectangle-white3 {
    width:40%;
    height: 40%;
    background-color:#ffff;
    border-right:10px solid #413c3c;
    border-bottom: 10px solid #413c3c ;
}

#rectangle-blue3 {
    width:40%;
    height: 25%;
    background-color:#2cc5cf;
    border-right:10px solid #413c3c;

}



