* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
}
:root {
  --white: #fff;
  --secondary: #4f4f4f;
  --sectionBox: #e2e2e2;
  --logoBox: #00b8ad;
  --headBox: #6e8238;
  --navbox: #a3904d;
  --allBox: #44948a;
  --aboutBg: #336981;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
}

.primary {
  color: var(--white);
}
.secondary {
  color: var(--secondary);
}

/* Header Start*/

.header {
  background-color: #336981;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 1fr;
}
.header-logo {
  background-color: var(--logoBox);
  grid-column: 1 / 2;
  grid-row: 1/2;
}
.header-head {
  background-color: var(--headBox);
  grid-column: 2 / 3;
  grid-row: 1/2;
}
.header-nav {
  background-color: #a3904d;
  grid-column: 1/3;
  grid-row: 2/3;
}
.header-links {
  display: flex;
  padding: 1rem;
  gap: 3rem;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 3rem;
}
/* Header End*/

/*Home Start*/

.home {
  background-color: var(--sectionBox);
  display: grid;
  margin: 1rem auto;
  width: 100%;
}
.home-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin: 1rem;
}
.home-item {
  width: 80%;
  height: 35vh;
  margin: auto;
  background-color: var(--allBox);
}
/*Home End*/

/*About Start*/
.about {
  background-color: var(--aboutBg);
  display: flex;
  margin: 1rem auto;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.about-text {
  color: var(--white);
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
/*About End*/

/*Service Start*/

.services {
  background-color: var(--sectionBox);
  display: grid;
  margin: 1rem auto;
  width: 100%;
  margin: 1rem auto;
}

.services-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  margin:1rem;
}
.service-item {
  width: 100%;
  height: 40vh;
  background-color: var(--allBox);
}
/*Service End*/

/*Contact Start*/

.contact {
  background-color: #d9d9d9;
  width: 95%;
  margin: 3rem auto;
  padding: 1rem;
  grid-template-columns: 20% 80%;
}
.contact-form {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 1rem;
}

.form-label {
  font-size: 1rem;
  font-weight: bold;
}
.contact-btn {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
.form-input {
  width: 100%;
  height: 2rem;
  background-color: var(--secondary);
}
.form-textarea {
  background-color: var(--secondary);
}

.btn {
  width: 30%;
  height: 2rem;
  color: var(--white);
  background-color: var(--secondary);
}
/*Contact End*/

/*footer Start*/
.footer {
  width: 100%;
  background-color: var(--secondary);
  font-size: 0.8rem;
  padding: 2rem;
  display: grid;
  place-content: center;
  color: var(--white);
}
footer a {
  color: #68C9FF;
}
/*footer End*/

@media screen and (max-width: 768px) {
  .header-links {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header {
    background-color: #336981;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}