@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');


* {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.light {
    color: white;
}

.dark {
    color: #464646;
}


.section-title{
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    
}

.section-container {
    margin-top: 30px;
    padding: 30px 0px;
}

.item {
    background-color: #44948A;
    width: 290px;
    height: 290px;
    

}

/* *******************HEADER SECTİON************* */

.logo {
    background-color: #00B8AD;
    height: 165px;
    width: 15%;
    min-width: 200px;
}

.header-topbar {
    background-color: #6E8238;
    width: 100%;
}

/* *******************NAVBAR SECTİON************* */


nav {
    background-color: #A3904D;
}

nav ul  {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 20px 40px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 700;
}



/* *******************HOME SECTİON************* */

.home-section {
    background-color: #E2E2E2;
}


.home-container {
    margin-top: 50px;
    display: grid;
    gap: 30px 200px;
    grid-template-columns: auto auto auto;
    margin-left: 70px;

}




/* *******************ABOUT SECTİON************* */

.about-section {
    background-color: #336981;
}



.about-paragraph {
    text-align: justify;
    margin: 0px 30px;
    margin-top: 30px;
    font-size: 13px;
}


/* *******************SERVICES SECTİON************* */

.services-section {
    background-color: #D9D9D9;
}

.services-container {
    margin-top: 50px;
    display: grid;
    gap: 30px 70px;
    grid-template-columns: auto auto auto auto;
    margin-left: 30px;

}

/* *******************CONTACT SECTİON************* */


.contact-section {
    margin: 30px;
    background-color: #D9D9D9;
    padding: 30px;
}


.contact-form {
    font-size: 16px;
    width: 33%;
    padding: 50px 20px;
}

.contact-form label {
    font-weight: 700;
    width: 100%;
    
}

.contact-form input {
    background-color: #656565;
    width: 100%;
    border-style: none;
    height: 50px;
    margin-bottom: 10px;
    
}

.contact-form textarea {
    background-color: #656565;
    width: 100%;
    height: 157px;

}

.contact-form button {
    float: right;
}

.contact-form button {
    background-color: #656565;
    color: white;
    border-style: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 700;
}

/* *******************FOOTER SECTİON************* */

footer {
    background-color: #2E2E2E;
    padding: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}



.footer-text {
    color: #68C9FF;
}