body{
    background-color: white;
}
#mainsquare{
    height:660px;
    width:1090px;
    background-color: black;
}
.square1 {
    float:left;
    margin:10px 20px ;
    width:200;
    height:300;
    background:red;

}
.square3 {
    float:left;
    margin:10px 0 ;
    width:410;
    height:150;
    background:blue;

}
.square4 {
    float:left;
    margin: 10px 20px ;
    width:400;
    height:150;
    background:yellow;

}

.square2 {
    
    margin:330px 20px 10px 20px;
    width:200;
    height:300;
    background:white;

}

.square5 {
    
    margin: -460px 240px ;
    width:200;
    height:200;
    background:yellow;

}
.square6 {
    margin:260px 460px 20px 460px;
    width:380;
    height:200;
    background:white;

}
.square7 {
   
    margin: -220px 860px 20px 860px;
    width:210;
    height:450;
    background:red;

}
.square8 {
    margin: -250px 240px;
    width:350;
    height:230;
    background:red;

}

.square9 {
    margin:20px 610px ;
    width:230;
    height:230;
    background:blue;

}
