/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Grid Container */
.container{
    display: grid;
    padding: 5px;
    background-color: rgb(0, 0, 0,0.7);
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    min-width: 720px;
    min-height: 360px;
}

/* Grid Items */
.container > div{
    padding: 20px;
    margin: 5px;
    text-align: center;
}

/* Span Count */
.c-span-2{
    grid-column: span 2; 
}

.r-span-2{
    grid-row: span 2;
}

.r-span-3{
    grid-row: span 3;
}

/* Colors */
.aqua{
    background-color: aqua;
}

.orange{
    background-color:orange;
}

.red{
    background-color: red;
}

.white{
    background-color: white;
}