section{
    padding-bottom: 4rem;
}
.section-header{
    display: grid;
    place-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.section-people{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-person{
    width: 33.33%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    img{
        width: 150px;
        height: 150px;
        margin: 0.5rem 0;
        border-radius: 50%;
    }
    
    h3{
        margin: 0.5rem 0;
    }

    p{
        width: 60%;
        flex-wrap: wrap;
        margin: 0 auto;
        opacity: 80%;
        text-align: center;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px){
    .section-people{
        width: 100%;
        flex-direction: column;
    }
    .section-person{
        margin: 1rem 0;

        p{
            width: 100%;
        }
    }
}