.about {
  background: $lightGreen;
  padding: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;

  &__title {
    color: $clr-white;
    font-size: $font-xlg;
    font-weight: bold;
    padding: 1rem;
  }

  &__icon {
    @include icon($clr-white);
  }

  &__texts {
    font-size: 1.4rem;
    padding: 1rem;
    color: $clr-white;
    width: 66%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;

    &__text {
      width: 50%;
      text-align: start;
    }
  }

  &__btn {
    width: 18%;
    height: 8vh;
    margin: 2rem auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-white;
    border: 2px solid $clr-white;
    border-radius: 0.5rem;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;

    &:hover{
      background: $clr-white;
      color: $darkGrey;
    }
  }
}

@media only screen and (max-width: 992px) {
  .about__texts {
    width: 85%;
  }

  .about__btn {
    width: 20%;
  }
}
@media only screen and (max-width: 768px) {
  .about__texts {
    width: 100%;
    gap: 0.5rem;
    &__text {
      width: 80%;
      text-align: start;
    }
  }

  .about__btn {
    width: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .about__texts {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    &__text {
      width: 95%;
      text-align: start;
    }
  }

  .about__btn {
    width: 30%;
  }
}
