* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button,
button::focus {
    border: 0;
    outline: 0;
}

.main-title {
    font-weight: 700;
    color: #4F4F4F;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxes .item {
    height: 291px;
    background-color: #44948A;
}

/* Header */
.header .top {
    height: 165px;
    background-color: #6E8238;
    display: flex;
}

.header .top .left-box {
    width: 20%;
    background-color: #00B8AD;
}

.header .bottom {
    padding: 3rem 1.75rem;
    background-color: #A3904D;
}

.header .bottom .menu {
    display: flex;
    gap: 2.75rem;
}

.header .bottom .menu .item {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}

/* HOME */
.home {
    margin: 2rem 0;
    padding: 1.5rem 2rem;
    background-color: #E2E2E2;
}

.home .boxes {
    gap: 2rem;
}

.home .boxes .item {
    width: 25%;
}

/* ABOUT */
.about {
    padding: 2rem 1.5rem;
    background-color: #336981;
}

.about .about-content {
    line-height: 2rem;
}

.about .main-title,
.about .about-content {
    color: #fff;
}

/* SERVİCES */
.services {
    margin: 2rem 0;
    padding: 1.5rem 2rem;
    background-color: #E2E2E2;
}

.services .boxes {
    gap: 2rem;
}

.services .boxes .item {
    width: 20%;
}

/* CONTACT */
.contact {
    margin: 2rem 2rem;
    padding: 1.5rem 2rem;
    background-color: #E2E2E2;
}

.contact-form input {
    margin-bottom: 1rem;
    padding: .5rem 0;
    width: 25%;
    background-color: #656565;
    border: 0;
    color: #fff;
}

.contact-form textarea {
    background-color: #656565;
    color: #fff;
    width: 25%;
}

.contact-form label {
    font-weight: 700;
}

.contact-form button {
    padding: .5rem 1.2rem;
    background-color: #656565;
    color: #fff;
    text-align: right;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: #2E2E2E;
    color: #fff;
}

.footer .link {
    color: #68C9FF;
}

@media only screen and (max-width: 600px) {
    .header .bottom .menu .item {
        font-size: 1.2rem;
    }
}